In [1]:
import pandas as pd
from sklearn.naive_bayes import GaussianNB

In [34]:
df=pd.read_csv("C:\\Users\\rudra\\Downloads\\titanic.csv")

In [17]:
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [35]:
inputs=df.drop(["Name","PassengerId","Ticket","Cabin","Embarked"],axis="columns")
inputs

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0           0       3    male  22.0      1      0   7.2500
1           1       1  female  38.0      1      0  71.2833
2           1       3  female  26.0      0      0   7.9250
3           1       1  female  35.0      1      0  53.1000
4           0       3    male  35.0      0      0   8.0500
..        ...     ...     ...   ...    ...    ...      ...
886         0       2    male  27.0      0      0  13.0000
887         1       1  female  19.0      0      0  30.0000
888         0       3  female   NaN      1      2  23.4500
889         1       1    male  26.0      0      0  30.0000
890         0       3    male  32.0      0      0   7.7500

[891 rows x 7 columns]

In [36]:
survived=df["Survived"]
inputs.drop("Survived",axis="columns",inplace=True)
inputs

     Pclass     Sex   Age  SibSp  Parch     Fare
0         3    male  22.0      1      0   7.2500
1         1  female  38.0      1      0  71.2833
2         3  female  26.0      0      0   7.9250
3         1  female  35.0      1      0  53.1000
4         3    male  35.0      0      0   8.0500
..      ...     ...   ...    ...    ...      ...
886       2    male  27.0      0      0  13.0000
887       1  female  19.0      0      0  30.0000
888       3  female   NaN      1      2  23.4500
889       1    male  26.0      0      0  30.0000
890       3    male  32.0      0      0   7.7500

[891 rows x 6 columns]

In [20]:
gender=pd.get_dummies(inputs["Sex"])
inputs=pd.concat([gender,inputs],axis="columns")
inputs.drop("Sex",axis="columns",inplace=True)

In [37]:
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()

In [38]:
inputs["Sex"]=le.fit_transform(inputs["Sex"])

In [39]:
inputs["Age"]=inputs.Age.fillna(int(inputs.Age.mean()))
inputs["Age"][888]

29.0

In [40]:
from sklearn.model_selection import train_test_split

In [41]:
X_train,X_test,y_train,y_test=train_test_split(inputs,survived)

In [42]:
nb=GaussianNB()
nb.fit(X_train,y_train)
nb.score(X_test,y_test)

0.8071748878923767

In [43]:
nb.predict_proba(X_test)

array([[1.26884450e-01, 8.73115550e-01],
       [6.49140446e-01, 3.50859554e-01],
       [1.06237152e-10, 1.00000000e+00],
       [9.52851923e-01, 4.71480771e-02],
       [6.73446822e-02, 9.32655318e-01],
       [9.53588075e-01, 4.64119247e-02],
       [9.08288477e-01, 9.17115230e-02],
       [3.24286204e-01, 6.75713796e-01],
       [9.54204464e-01, 4.57955360e-02],
       [8.95993475e-01, 1.04006525e-01],
       [6.42709723e-01, 3.57290277e-01],
       [6.51516358e-01, 3.48483642e-01],
       [9.54374669e-01, 4.56253306e-02],
       [9.06128639e-01, 9.38713606e-02],
       [2.26978041e-01, 7.73021959e-01],
       [9.49543809e-01, 5.04561909e-02],
       [8.79787936e-01, 1.20212064e-01],
       [9.42242416e-01, 5.77575845e-02],
       [3.42908939e-01, 6.57091061e-01],
       [9.52860456e-01, 4.71395439e-02],
       [8.91953270e-01, 1.08046730e-01],
       [9.99999888e-01, 1.11933758e-07],
       [2.78331796e-01, 7.21668204e-01],
       [7.34810565e-05, 9.99926519e-01],
       [3.80956593e-09, 9.99999996e-01],
       [1.83632405e-01, 8.16367595e-01],
       [8.93715997e-01, 1.06284003e-01],
       [9.42185430e-01, 5.78145701e-02],
       [6.72192995e-01, 3.27807005e-01],
       [1.70858853e-01, 8.29141147e-01],
       [2.78574395e-01, 7.21425605e-01],
       [2.89838035e-01, 7.10161965e-01],
       [2.83978241e-01, 7.16021759e-01],
       [9.23051899e-01, 7.69481008e-02],
       [9.88368661e-01, 1.16313388e-02],
       [2.56243026e-01, 7.43756974e-01],
       [1.30549697e-02, 9.86945030e-01],
       [9.88738177e-01, 1.12618234e-02],
       [9.42549134e-01, 5.74508658e-02],
       [9.99244330e-01, 7.55670009e-04],
       [9.51735003e-01, 4.82649973e-02],
       [7.48250989e-01, 2.51749011e-01],
       [3.30562687e-01, 6.69437313e-01],
       [1.66977403e-02, 9.83302260e-01],
       [7.21780794e-01, 2.78219206e-01],
       [7.44770299e-01, 2.55229701e-01],
       [9.02597830e-01, 9.74021698e-02],
       [3.02591861e-01, 6.97408139e-01],
       [9.03137479e-01, 9.68625209e-02],
       [9.46541583e-01, 5.34584165e-02],
       [9.41932827e-01, 5.80671732e-02],
       [9.49164746e-01, 5.08352537e-02],
       [9.26888395e-01, 7.31116054e-02],
       [1.62204382e-01, 8.37795618e-01],
       [3.22000116e-01, 6.77999884e-01],
       [7.32819982e-01, 2.67180018e-01],
       [3.16112129e-01, 6.83887871e-01],
       [9.52426679e-01, 4.75733210e-02],
       [9.66521839e-01, 3.34781614e-02],
       [6.38606532e-03, 9.93613935e-01],
       [1.85243411e-03, 9.98147566e-01],
       [1.96134107e-01, 8.03865893e-01],
       [7.45758920e-01, 2.54241080e-01],
       [9.22825143e-01, 7.71748567e-02],
       [1.29543006e-01, 8.70456994e-01],
       [9.46066897e-01, 5.39331026e-02],
       [1.96134107e-01, 8.03865893e-01],
       [3.24922797e-01, 6.75077203e-01],
       [4.08946982e-01, 5.91053018e-01],
       [9.50744561e-01, 4.92554390e-02],
       [9.48538681e-01, 5.14613187e-02],
       [9.18618923e-01, 8.13810773e-02],
       [1.74809467e-01, 8.25190533e-01],
       [7.41182778e-01, 2.58817222e-01],
       [9.53710522e-01, 4.62894776e-02],
       [3.15024026e-01, 6.84975974e-01],
       [1.00000000e+00, 4.99020667e-17],
       [8.94340112e-01, 1.05659888e-01],
       [9.50775308e-01, 4.92246922e-02],
       [9.52856880e-01, 4.71431197e-02],
       [9.51634536e-01, 4.83654637e-02],
       [9.08211103e-01, 9.17888974e-02],
       [3.07661934e-01, 6.92338066e-01],
       [8.73511350e-01, 1.26488650e-01],
       [6.09149197e-01, 3.90850803e-01],
       [8.69409130e-03, 9.91305909e-01],
       [7.25544218e-01, 2.74455782e-01],
       [2.61399273e-01, 7.38600727e-01],
       [9.47658917e-01, 5.23410835e-02],
       [5.12942194e-02, 9.48705781e-01],
       [9.08229735e-01, 9.17702649e-02],
       [9.50813753e-01, 4.91862473e-02],
       [8.91953270e-01, 1.08046730e-01],
       [9.50734904e-01, 4.92650963e-02],
       [9.50604489e-01, 4.93955112e-02],
       [9.18873535e-01, 8.11264647e-02],
       [2.93384818e-01, 7.06615182e-01],
       [3.01405186e-04, 9.99698595e-01],
       [9.36134042e-01, 6.38659581e-02],
       [9.50813753e-01, 4.91862473e-02],
       [9.53894821e-01, 4.61051794e-02],
       [2.77434634e-01, 7.22565366e-01],
       [9.47346628e-01, 5.26533720e-02],
       [8.98799135e-01, 1.01200865e-01],
       [9.99136859e-01, 8.63140602e-04],
       [9.32876782e-01, 6.71232179e-02],
       [3.41757924e-01, 6.58242076e-01],
       [9.52529560e-01, 4.74704397e-02],
       [9.42612252e-01, 5.73877484e-02],
       [9.98153354e-01, 1.84664570e-03],
       [9.50738129e-01, 4.92618713e-02],
       [8.18781579e-03, 9.91812184e-01],
       [9.00763757e-01, 9.92362429e-02],
       [9.98932601e-01, 1.06739864e-03],
       [4.29946188e-02, 9.57005381e-01],
       [9.09693182e-01, 9.03068181e-02],
       [8.68778781e-01, 1.31221219e-01],
       [7.26021692e-01, 2.73978308e-01],
       [4.19383843e-05, 9.99958062e-01],
       [8.52382849e-05, 9.99914762e-01],
       [9.99966629e-01, 3.33705324e-05],
       [9.53588075e-01, 4.64119247e-02],
       [3.24937901e-01, 6.75062099e-01],
       [2.93607007e-01, 7.06392993e-01],
       [3.41649767e-01, 6.58350233e-01],
       [1.49867763e-01, 8.50132237e-01],
       [3.41757924e-01, 6.58242076e-01],
       [1.83632405e-01, 8.16367595e-01],
       [3.18686215e-01, 6.81313785e-01],
       [9.33741296e-01, 6.62587040e-02],
       [1.95005009e-02, 9.80499499e-01],
       [9.02613642e-01, 9.73863584e-02],
       [1.73590016e-01, 8.26409984e-01],
       [9.53710522e-01, 4.62894776e-02],
       [7.23823987e-01, 2.76176013e-01],
       [1.35112178e-01, 8.64887822e-01],
       [9.46730718e-01, 5.32692816e-02],
       [9.50598723e-01, 4.94012773e-02],
       [1.73788934e-02, 9.82621107e-01],
       [9.50775308e-01, 4.92246922e-02],
       [9.43507661e-01, 5.64923387e-02],
       [7.18172933e-01, 2.81827067e-01],
       [9.51460875e-01, 4.85391251e-02],
       [9.53009263e-01, 4.69907373e-02],
       [9.53139531e-01, 4.68604690e-02],
       [9.44408830e-01, 5.55911696e-02],
       [9.50621715e-01, 4.93782848e-02],
       [6.09493049e-01, 3.90506951e-01],
       [9.54165007e-01, 4.58349931e-02],
       [2.95591552e-01, 7.04408448e-01],
       [7.09642439e-01, 2.90357561e-01],
       [1.90027404e-01, 8.09972596e-01],
       [8.82379178e-01, 1.17620822e-01],
       [9.08288477e-01, 9.17115230e-02],
       [3.24937901e-01, 6.75062099e-01],
       [9.06573442e-01, 9.34265582e-02],
       [1.00000000e+00, 4.99020667e-17],
       [9.42645175e-01, 5.73548254e-02],
       [9.44452469e-01, 5.55475313e-02],
       [9.50738129e-01, 4.92618713e-02],
       [9.46513662e-01, 5.34863383e-02],
       [1.51852051e-01, 8.48147949e-01],
       [3.11125492e-01, 6.88874508e-01],
       [9.50957603e-01, 4.90423969e-02],
       [9.01459620e-01, 9.85403804e-02],
       [8.96432213e-01, 1.03567787e-01],
       [2.64681645e-01, 7.35318355e-01],
       [2.73899982e-01, 7.26100018e-01],
       [9.40718771e-01, 5.92812287e-02],
       [9.09318525e-01, 9.06814749e-02],
       [9.02091413e-01, 9.79085870e-02],
       [9.50270637e-01, 4.97293629e-02],
       [2.85058731e-04, 9.99714941e-01],
       [9.50597556e-01, 4.94024436e-02],
       [2.74333314e-02, 9.72566669e-01],
       [9.02613642e-01, 9.73863584e-02],
       [8.83560063e-01, 1.16439937e-01],
       [9.99974159e-01, 2.58414654e-05],
       [9.53710697e-01, 4.62893035e-02],
       [9.16857622e-01, 8.31423781e-02],
       [9.44686279e-01, 5.53137209e-02],
       [9.53662336e-01, 4.63376644e-02],
       [8.76831281e-01, 1.23168719e-01],
       [8.91953270e-01, 1.08046730e-01],
       [9.40467017e-01, 5.95329825e-02],
       [6.46371133e-02, 9.35362887e-01],
       [9.48568547e-01, 5.14314531e-02],
       [9.51382934e-01, 4.86170662e-02],
       [9.53723529e-01, 4.62764713e-02],
       [4.67277279e-02, 9.53272272e-01],
       [1.87593951e-01, 8.12406049e-01],
       [9.26520613e-01, 7.34793875e-02],
       [9.38060645e-01, 6.19393555e-02],
       [9.53193877e-01, 4.68061228e-02],
       [9.40133398e-01, 5.98666019e-02],
       [7.25333293e-01, 2.74666707e-01],
       [9.44444723e-01, 5.55552766e-02],
       [9.04745357e-01, 9.52546429e-02],
       [9.00320059e-01, 9.96799409e-02],
       [9.06847213e-01, 9.31527872e-02],
       [9.50829079e-01, 4.91709210e-02],
       [9.03654724e-01, 9.63452759e-02],
       [8.99647038e-01, 1.00352962e-01],
       [2.98376078e-01, 7.01623922e-01],
       [1.43439011e-01, 8.56560989e-01],
       [6.25660412e-01, 3.74339588e-01],
       [2.51316003e-04, 9.99748684e-01],
       [7.30313588e-01, 2.69686412e-01],
       [4.18322964e-05, 9.99958168e-01],
       [2.41806726e-42, 1.00000000e+00],
       [1.49046106e-07, 9.99999851e-01],
       [8.02347332e-01, 1.97652668e-01],
       [3.03028355e-01, 6.96971645e-01],
       [1.80460089e-01, 8.19539911e-01],
       [9.04165487e-01, 9.58345128e-02],
       [8.93715997e-01, 1.06284003e-01],
       [7.26038335e-01, 2.73961665e-01],
       [1.44678266e-01, 8.55321734e-01],
       [8.79342321e-01, 1.20657679e-01],
       [5.86349364e-01, 4.13650636e-01],
       [9.54169556e-01, 4.58304437e-02],
       [9.51420928e-01, 4.85790716e-02],
       [6.54236989e-03, 9.93457630e-01]])