In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [8]:
df=pd.read_csv("C:\\Users\\rudra\\Downloads\\homeprices.csv")

In [9]:
dummies=pd.get_dummies(df.Car_Model)
dummies

    Audi A5  BMW X5  Mercedez Benz C class
0     False    True                  False
1     False    True                  False
2     False    True                  False
3     False    True                  False
4     False    True                  False
5      True   False                  False
6      True   False                  False
7      True   False                  False
8      True   False                  False
9     False   False                   True
10    False   False                   True
11    False   False                   True
12    False   False                   True

In [12]:
new_df=dummies.drop(["Mercedez Benz C class"],axis="columns")
new_df

    Audi A5  BMW X5
0     False    True
1     False    True
2     False    True
3     False    True
4     False    True
5      True   False
6      True   False
7      True   False
8      True   False
9     False   False
10    False   False
11    False   False
12    False   False

In [23]:
final=pd.concat([df,new_df],axis="columns")

In [24]:
final=final.drop(["Car_Model"],axis="columns")

In [25]:
final

    Mileage  Sell_Price  Age  Audi A5  BMW X5
0     69000       18000    6    False    True
1     35000       34000    3    False    True
2     57000       26100    5    False    True
3     22500       40000    2    False    True
4     46000       31500    4    False    True
5     59000       29400    5     True   False
6     52000       32000    5     True   False
7     72000       19300    6     True   False
8     91000       12000    8     True   False
9     67000       22000    6    False   False
10    83000       20000    7    False   False
11    79000       21000    7    False   False
12    59000       33000    5    False   False

In [27]:
model=linear_model.LinearRegression()
model.fit(final[["Mileage","Age","Audi A5","BMW X5"]],final.Sell_Price)

LinearRegression()

In [34]:
model.predict([[45000,6,False,False]])

C:\Users\rudra\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([34326.40995539])

In [33]:
model.score(final[["Mileage","Age","Audi A5","BMW X5"]],final.Sell_Price)

0.9417050937281083

In [73]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(final[["Mileage","Age","Audi A5","BMW X5"]],final.Sell_Price,test_size=0.4)

In [74]:
model.fit(X_train,y_train)

LinearRegression()

In [76]:
model.score(X_train,y_train)

0.9235324467128605